.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px;
}

.cardTitle {
  font-size: 20px;
  color: #000000;
  line-height: 1;
  font-weight: 500;
}