.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatHeader {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
}

.userName {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}

.userMsg {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #878787;
  margin-top: 8px;
}

.messageSection {
  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

.messagesList {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.messageItem {
  display: flex;
  padding: 0 12px;

  &+& {
    margin-top: 12px;
  }
}

.itemSend {
  justify-content: flex-end;
}

.itemReceived {
  justify-content: flex-start;
}

.message {

  padding: 12px 16px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1.7;
  max-width: 412px;
}

.msgSend {
  background-color: #1B84FF;
  color: #FFFFFF;
}

.msgReceived {
  background-color: #F3F3F3;
  color: #919191;
}

.chatFooter {
  padding: 1rem;
  border-top: 1px solid #eee;
  flex-shrink: 0;
}

.input {
  height: 50px;
}

.section {
  margin-right: 12px;
}