.card {
  padding: 24px 32px;
}

.header {
  text-align: center;
  padding-bottom: 16px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  line-height: 1;
}

.planType {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1;
  margin-top: 10px;
}

.content {
  border-top: 1px solid #CCCCCC;
  padding: 12px 0 0;
  list-style: none;
}

.planFeature {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.featureInfo {
  flex: 1;
  display: flex;
  align-items: center;
}

.featureIcon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  background-color: #E90808;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureName {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  line-height: 1.25;
}

.featureValue {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1;
  margin-left: 16px;
}