.comparison-products {
    background-color: #F3F3F3;

    .comparison-card {
        margin-bottom: 1.5rem;
        border       : none;
        box-shadow   : 0px 4px 20px 0px #00000014;

        .two-col-comparison {
            display      : flex;
            align-items  : center;
            border-bottom: 1px solid $gray-300;

            .product-compare {
                padding        : 1.5rem;
                width          : 50%;
                display        : flex;
                justify-content: center;
                align-items    : center;

                &.product-first {
                    border-right: 1px solid $gray-300;
                }
            }


        }

        .compare-txt {
            position        : absolute;
            left            : 44.5%;
            width           : 40px;
            height          : 40px;
            line-height     : 40px;
            border-radius   : 40px;
            color           : $white;
            background-color: $primary;
            font-weight     : 500;
            font-size       : 14px;
            text-align      : center;
            top             : 40%;
        }

        .compare-product {
            // border-right: 1px solid $gray-300;
        }
    }
}