.section {
  padding: 56px 0 36px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sectionBody {
  margin-top: 20px;
}

.sectionBody .mantine-Carousel-viewport {
  padding: 20px 0;
}

.viewPort {
  padding: 20px 0;
}

/* This class will be used to target the parent element */
.carouselWrapper :global(.mantine-Carousel-controls) {
  justify-content: flex-end !important;
  position: absolute !important;
  top: -40px !important;
  right: 0 !important;
  width: auto !important;
}

.carouselWrapper :global(.mantine-Carousel-control) {
  position: static !important;
  margin: 0 4px !important;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  width: auto;
  padding: 0;
  justify-content: flex-end;
}

.control {
  position: static;
  background-color: #E90808;
  border-color: #E90808;
  color: #ffffff;
  margin: 0;
}

.control[data-inactive='true'] {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}