.section {
  padding: 56px 0 36px;
}

.sectionHeader {
  display: block;
}

.sectionBody {
  margin-top: 20px;
}

.sectionBody .mantine-Carousel-viewport {
  padding: 20px 0;
}

.viewPort {
  padding: 20px 0;
}

.controls {
  position: absolute;
  left: auto;
  top: -60px;
  right: 0;
  width: 64px;
  padding: 0;
}

.control {
  position: static;
}