.controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.root {
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.cardMedia {
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cardMedia>img {
    max-height: 144px;
}