.car-specification {
    .mantine-Group-root {
        // justify-content: center !important;
    }

    .customer-review-card {
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.mantine-Pagination-root {
    .mantine-Group-root {
        justify-content: center !important;
    }
    
    .mantine-Pagination-control {
        border-radius: 0;
        min-width: 36px;
        height: 36px;
        // background-color: #ff9999; /* Light pink/red color */
        // color: white;
        // border: none;
        
        &[data-active="true"] {
            background-color: #E90808;
            color: white;
            border-color: #E90808;
        }
    }
}

.custom-pagination {
    .mantine-Pagination-control {
        margin: 0 2px;
        
        &:first-of-type, &:last-of-type {
            border-radius: 0;
            // background-color: #ff9999; /* Light pink/red color */
            // color: white;
        }
    }
}