.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 24px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

  &+& {
    margin-top: 30px;
  }
}

.post {
  padding: 20px 0 32px;
}

.postHeader {}

.postTitle {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  line-height: 1;
}

.postMeta {
  font-size: 16px;
  color: #878787;
  line-height: 1;
  margin-top: 15px;
}

.postRating {
  margin-top: 12px;
}

.postRatingText {
  font-size: 12px;
  line-height: 1;
  color: #333333;
}

.postDescription {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-top: 16px;
}

.postRatings {
  margin-top: 20px;
}

.ratingGroup {
  display: flex;
  align-items: center;
}

.ratingGroupLabel {
  margin-right: 40px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.reply {
  max-width: 210px;
  width: 100%;
}

.replyButton {
  height: 36px;
  border-radius: 20px;
}

.postFooterLikes {
  font-size: 16px;
  color: #878787;
}

.reviews {
  border-top: 1px solid #CCCCCC;
  padding: 20px 0 24px;
}

.review {
  padding-left: 100px;
}

.reviewTitle {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.reviewDesc {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-top: 10px;
}

.reviewMeta {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}