.root {
  border-color: #CCCCCC;
  font-size: 12px;
  height: 40px;
}

.label {
  font-size: 12px;
  color: #6A727A;
  font-weight: normal;
}

.section {
  color: #1B84FF;
  height: 16px;
  width: 16px;
}