.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  padding: 22px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalFollowersTitle {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  line-height: 1;
}

.followersCount {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1;
  margin-top: 8px;
}

.todaysFollowers {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 1;
  margin-bottom: 4px;
}