.wrapper {
  display: flex;
  height: 100vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.sidebar {
  width: 428px;
  box-sizing: border-box;
  border-right: 1px solid #CCCCCC;
}

.content {
  flex: 1;
}